<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlhx.huluhuxian.mapper.hkMapper.CameraInfoMapper">

    <select id="getCameraList" resultType="com.hlhx.huluhuxian.model.CameraInfo">
        select a.camera_id,a.region_id,a.index_code,a.name,a.camera_type,b.num from camera_info a,
        (select alarm_input_source,count (*) num from alarm_log where 1=1
            <if test="beginDateScope !=null">
                and alarm_start_time between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
        group by alarm_input_source) b
        where a.index_code=b.alarm_input_source
        <if test="cameraInfo.regionId !=null and cameraInfo.regionId!= ''">
            and a.region_id = #{cameraInfo.regionId}
        </if>
        ORDER BY b.num DESC
        <if test="page !=null and size!=null">
            limit #{size} offset #{page}
        </if>
    </select>

</mapper>