<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlhx.huluhuxian.mapper.orclMapper.CameraNumMapper">
    <insert id="insertCameraNum" parameterType="java.util.List">
        INSERT INTO CAMERA_NUM ( CAMERA_ID,REGION_ID,INDEX_CODE,NAME,CAMERA_TYPE,NUM,TIME )
        select A.*
        FROM (
        <foreach collection="list" item="cn" index="index" separator="UNION ALL">
            select #{cn.cameraId,jdbcType=INTEGER},#{cn.regionId,jdbcType=INTEGER},#{cn.indexCode,jdbcType=VARCHAR},
            #{cn.name,jdbcType=VARCHAR},#{cn.cameraType,jdbcType=INTEGER},#{cn.num,jdbcType=INTEGER},#{cn.time,jdbcType=VARCHAR}
            from dual
        </foreach>
        )A
    </insert>

    <select id="getCameraNum"  resultType="com.hlhx.huluhuxian.model.CameraInfo">
        SELECT INDEX_CODE,NAME,CAMERA_TYPE,SUM(NUM) NUM FROM CAMERA_NUM
        <where>
            1=1
            <if test="#{cameraInfo.regionId!=null and cameraInfo.regionId!=''}">
                and REGION_ID=#{cameraInfo.regionId}
            </if>
            <if test="beginDateScope !=null">
                and TIME between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
            GROUP BY INDEX_CODE,NAME,CAMERA_TYPE
            order by NUM desc
            <if test="page !=null and size!=null">
                limit #{size} offset #{page}
            </if>
        </where>
    </select>
</mapper>