<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlhx.huluhuxian.mapper.orclMapper.ControlUnitNumMapper">
    <insert id="insertAreaAlarmNum" parameterType="java.util.List">
        INSERT INTO CONTROL_UNIT_NUM (CONTROL_UNIT_ID,NAME,INDEX_CODE,NUM,TIME )
        select A.*
        FROM (
        <foreach collection="list" item="cnn" index="index" separator="UNION ALL">
            select #{cnn.controlUnitId,jdbcType=INTEGER },#{cnn.name,jdbcType=VARCHAR },#{cnn.indexCode,jdbcType=VARCHAR },
            #{cnn.num,jdbcType=INTEGER },#{cnn.time,jdbcType=VARCHAR }
            from dual
        </foreach>
        )A
    </insert>
    <select id="getAreaAlarmNum" resultType="com.hlhx.huluhuxian.model.ControlUnit">
        SELECT NAME,SUM(NUM) NUM FROM CONTROL_UNIT_NUM
        <where>
            1=1
            <if test="controlUnit.indexCode !=null and controlUnit.indexCode!=''">
                and index_code = #{controlUnit.indexCode}
            </if>
            <if test="beginDateScope !=null">
                and TIME between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
            GROUP BY NAME
            order by NUM desc
            <if test="page !=null and size!=null">
                limit #{size} offset #{page}
            </if>
        </where>
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from (
            SELECT NAME,SUM(NUM) NUM FROM CONTROL_UNIT_NUM
            <where>
                1=1
                <if test="#{controlUnit.indexCode !=null and controlUnit.indexCode !=''}">
                    and INDEX_CODE=#{controlUnit.indexCode,jdbcType=VARCHAR}
                </if>
                <if test="beginDateScope !=null">
                    and to_date(TIME,'yyyy/MM/dd hh24:mi:ss') between #{beginDateScope[0]} and #{beginDateScope[1]}
                </if>
                GROUP BY NAME
            </where>
        )
    </select>

</mapper>